<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">JKN Executive Dashboard &copy; 2014 - {{ "now" | date('Y') }}</span>
        </div>
    </div>
</div>