{% extends 'AppBundle:Layout:main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block1" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block2" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block3" class="chart-stage"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="chart-wrapper">
                <div id="block4" class="chart-stage"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block5" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block6" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block7" class="chart-stage"></div>
            </div>
        </div>
    </div>
<script type="text/javascript">
jQuery(document).ready(function () {
    var global = {{ global | raw }};
    var propinsiPerTahun = {{ propinsi_pertahun | raw }};

    Chart.request(function (data) {
        Chart.createGaugeChart(data, '#block1', data['indikator']['name']);
    }, 'PS01', 'nasional');

    Chart.request(function (data) {
        Chart.createGaugeChart(data, '#block2', data['indikator']['name']);
    }, 'PS02', 'nasional');

    Chart.request(function (data) {
        Chart.createGaugeChart(data, '#block3', data['indikator']['name']);
    }, 'PS03', 'nasional');

    Chart.request(function (data) {
        Chart.createColumnChart(data, '#block4', data['indikator']['name']);
    }, 'PS07', 'nasional');
});
</script>
{% endblock %}