{% extends 'AppBundle:Layout:main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block1" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block2" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block3" class="chart-stage"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="chart-wrapper">
                <div id="block4" class="chart-stage"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block5" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block6" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div id="block7" class="chart-stage"></div>
            </div>
        </div>
    </div>
<div id="progressHelper"></div>
<script type="text/javascript">
jQuery(document).ready(function () {
    Chart.requestSingleChart(function (data) {
        Chart.createGaugeChart(data, '#block1', data['indikator']['name'], {
            click: function (e) {
                Chart.modalHelper.pleaseWait();
            }
        });
    }, 'PS01', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createGaugeChart(data, '#block2', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS02', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createGaugeChart(data, '#block3', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS03', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createColumnChart({
            click: function (e) {
                alert('Under Constructions.');
            }
        }, data, '#block4', data['indikator']['name']);
    }, 'PS04', 'propinsi', 1);

    Chart.requestSingleChart(function (data) {
        Chart.createPieChart(data, '#block5', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS05', 'propinsi', 1);

    Chart.requestSingleChart(function (data) {
        Chart.createPieChart(data, '#block6', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS06', 'propinsi', 1);

    Chart.requestSingleChart(function (data) {
        Chart.createPieChart(data, '#block7', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS07', 'propinsi', 1);
});
</script>
{% endblock %}