{% extends 'AppBundle:Layout:main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block1" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block2" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block3" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block4" class="chart-stage"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-8">
            <div class="chart-wrapper">
                <div id="block5" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="chart-wrapper">
                <div class="chart-stage">
                    <div id="block6"></div>
                    <div class="row">
                        <div id="paging" class="padding-7"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block7" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block8" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block9" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="chart-wrapper">
                <div id="block10" class="chart-stage"></div>
            </div>
        </div>
    </div>
<div id="progressHelper"></div>
<script type="text/javascript">
jQuery(document).ready(function () {
    Chart.requestSingleChart(function (data) {
        Chart.createGaugeChart(data, '#block1', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS01', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createGaugeChart(data, '#block2', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS02', 'nasional', 0, '01_2015', '12_2015');

    Chart.requestSingleChart(function (data) {
        Chart.createGaugeChart(data, '#block3', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS03', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createGaugeChart(data, '#block4', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS05', 'nasional');

    Chart.createMainChart('PS07', 0);

    Chart.requestSingleChart(function (data) {
        Chart.createPieChart(data, '#block7', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS01', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createPieChart(data, '#block8', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS02', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createPieChart(data, '#block9', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS03', 'nasional');

    Chart.requestSingleChart(function (data) {
        Chart.createPieChart(data, '#block10', data['indikator']['name'], {
            click: function (e) {
                alert('Under Constructions.');
            }
        });
    }, 'PS05', 'nasional');
});
</script>
{% endblock %}