<header><b>Periode</b></header>
<fieldset>
    <div class="row">
        <header>Dari</header>
        <section class="col col-6">
            <label class="label">Bulan</label>
            <label class="select">
                <select id="propinsi">
                    <option value="">---PILIH BULAN---</option>
                    <option value="1">JANUARI</option>
                    <option value="2">FEBRUARI</option>
                    <option value="3">MARET</option>
                    <option value="4">APRIL</option>
                    <option value="5">MEI</option>
                    <option value="6">JUNI</option>
                    <option value="7">JULI</option>
                    <option value="8">AGUSTUS</option>
                    <option value="9">SEPTEMBER</option>
                    <option value="10">OKTOBER</option>
                    <option value="11">NOVEMBER</option>
                    <option value="12">DESEMBER</option>
                </select>
                <i></i>
            </label>
        </section>
        <section class="col col-6">
            <label class="label">Tahun</label>
            <label class="select">
                <select id="kabupaten">
                    <option value="">---PILIH TAHUN---</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                </select>
                <i></i>
            </label>
        </section>
    </div>
    <div class="row">
        <header>Sampai</header>
        <section class="col col-6">
            <label class="label">Bulan</label>
            <label class="select">
                <select id="propinsi">
                    <option value="">---PILIH BULAN---</option>
                    <option value="1">JANUARI</option>
                    <option value="2">FEBRUARI</option>
                    <option value="3">MARET</option>
                    <option value="4">APRIL</option>
                    <option value="5">MEI</option>
                    <option value="6">JUNI</option>
                    <option value="7">JULI</option>
                    <option value="8">AGUSTUS</option>
                    <option value="9">SEPTEMBER</option>
                    <option value="10">OKTOBER</option>
                    <option value="11">NOVEMBER</option>
                    <option value="12">DESEMBER</option>
                </select>
                <i></i>
            </label>
        </section>
        <section class="col col-6">
            <label class="label">Tahun</label>
            <label class="select">
                <select id="kabupaten">
                    <option value="">---PILIH TAHUN---</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                </select>
                <i></i>
            </label>
        </section>
    </div>
</fieldset>